<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.webauth.media.dao.MediaDao">
    <!--    获取文件列表-->
    <select id="listMedias" parameterType="com.neusoft.webauth.media.entity.MediaInfo" resultType="com.neusoft.webauth.media.entity.MediaInfo">
        select
            a.media_id mediaId,
            media_url mediaUrl,
            a.user_id userId,
            account,
            photo,
            media_introduce mediaIntroduce,
            media_thumb mediaThumb,
            music_url musicUrl,
            music_name musicName,
            music_poster musicPoster,
            d.countLikeMedia likeNumber,
            e.countComment commentNumber
        from
            t_sys_media a
        left join
            t_sys_music b
        on
            a.music_id = b.music_id
        left join
            t_sys_user c
        on
            a.user_id = c.user_id
        left join
            (select
                media_id mediaId,
                count(*) countLikeMedia
            from
                t_sys_like_media_business
            where
                is_deleted = 0
            group by media_id) d
        on
            a.media_id = d.mediaId
        left join
            (select
                media_id mediaId,
                count(*) countComment
            from
                t_sys_comment
            where
                is_deleted = 0
            group by media_id) e
        on
            a.media_id = e.mediaId
        where
            a.is_deleted = 0
        <if test="userId != null and userId != ''">
            and a.user_id = #{userId}
        </if>
    </select>
</mapper>