<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.webauth.menu.dao.MenuDao">
    <!--查询全部菜单-->
    <select id="listMenus" parameterType="java.lang.String" resultType="com.neusoft.webauth.menu.entity.Menu">
        select
        menu_id menuId,
        menu_name menuName,
        menu_route menuRoute,
        last_level_id lastLevelId,
        version
        from
        t_sys_menu
        where
        is_deleted = 0
        and last_level_id = 0
        <if test="role == 1">
            and menu_note = 1
        </if>
        order by gmt_create
    </select>
</mapper>