<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.LikeCommentBusiness.dao.LikeCommentBusinessDao">
    <!--获取点赞媒体业务编号-->
    <select id="queryLikeCommentBusinessId" parameterType="java.util.List" resultType="com.xzsd.pc.LikeCommentBusiness.entity.LikeCommentBusinessInfo">
        select
            like_media_business_id likeCommentBusinessId,
            media_id mediaId
        from
            t_sys_like_comment_business
        where
            is_deleted = 0
            and like_user_id = #{userId}
            and media_id in
        <foreach item="item" index="index" collection="listCommentId" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--未点赞->点赞-->
    <insert id="addLikeCommentBusiness" parameterType="com.xzsd.pc.LikeCommentBusiness.entity.LikeCommentBusinessInfo">
        insert into t_sys_like_comment_business
            (
            like_comment_business_id,
            like_user_id,
            comment_id,
            is_deleted,
            create_by,
            gmt_create,
            last_modified_by,
            gmt_modified,
            version
            )
        values
            (
            #{likeCommentBusinessId},
            #{likeUserId},
            #{commentId},
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0
            )
    </insert>
    <!--点赞->取消点赞-->
    <update id="deleteLikeCommentBusiness" parameterType="com.xzsd.pc.LikeCommentBusiness.entity.LikeCommentBusinessInfo">
        update
            t_sys_like_comment_business
        set
            is_deleted = 1,
            gmt_modified = now(),
            last_modified_by = #{lastModifiedBy},
            version = version + 1
        where
            comment_id = #{commentId}
            and like_user_id = #{likeUserId}
            and is_deleted = 0
    </update>
</mapper>